:root {
  /* COLOR */
  --blue-blue-000: rgb(230, 247, 255);
  --blue-blue-100: rgb(180, 232, 255);
  --blue-blue-200: rgb(129, 216, 255);
  --blue-blue-300: rgb(88, 204, 255);
  --blue-blue-400: rgb(48, 192, 255);
  --blue-blue-500: rgb(0, 170, 255);
  --blue-blue-600: rgb(0, 143, 223);
  --blue-blue-700: rgb(0, 113, 181);
  --blue-blue-800: rgb(0, 81, 134);
  --blue-blue-900: rgb(0, 52, 89);
  --context-error-on-surface: rgb(212, 45, 32);
  --context-error-surface: rgb(251, 232, 229);
  --context-information-on-surface: rgb(0, 170, 255);
  --context-information-surface: rgb(230, 247, 255);
  --context-success-on-surface: rgb(61, 204, 61);
  --context-success-surface: rgb(235, 255, 241);
  --context-warning-on-surface: rgb(255, 170, 0);
  --context-warning-surface: rgb(255, 248, 215);
  --cyan-cyan-000: rgb(224, 254, 249);
  --cyan-cyan-100: rgb(193, 249, 241);
  --cyan-cyan-200: rgb(163, 244, 236);
  --cyan-cyan-300: rgb(129, 239, 230);
  --cyan-cyan-400: rgb(97, 234, 227);
  --cyan-cyan-500: rgb(46, 215, 216);
  --cyan-cyan-600: rgb(28, 182, 184);
  --cyan-cyan-700: rgb(13, 141, 147);
  --cyan-cyan-800: rgb(0, 101, 112);
  --cyan-cyan-900: rgb(0, 66, 73);
  --grass-grass-000: rgb(242, 255, 217);
  --grass-grass-100: rgb(225, 251, 174);
  --grass-grass-200: rgb(208, 246, 132);
  --grass-grass-300: rgb(193, 242, 94);
  --grass-grass-400: rgb(179, 237, 57);
  --grass-grass-500: rgb(150, 219, 11);
  --grass-grass-600: rgb(116, 180, 13);
  --grass-grass-700: rgb(87, 140, 17);
  --grass-grass-800: rgb(63, 101, 19);
  --grass-grass-900: rgb(39, 61, 17);
  --green-green-000: rgb(235, 255, 241);
  --green-green-100: rgb(198, 248, 210);
  --green-green-200: rgb(163, 240, 177);
  --green-green-300: rgb(133, 233, 144);
  --green-green-400: rgb(103, 225, 110);
  --green-green-500: rgb(61, 204, 61);
  --green-green-600: rgb(39, 168, 56);
  --green-green-700: rgb(26, 131, 53);
  --green-green-800: rgb(18, 95, 47);
  --green-green-900: rgb(12, 59, 34);
  --grey-grey-000: rgb(255, 255, 255);
  --grey-grey-100: rgb(247, 247, 247);
  --grey-grey-1000: rgb(0, 0, 0);
  --grey-grey-200: rgb(240, 241, 242);
  --grey-grey-300: rgb(225, 228, 230);
  --grey-grey-400: rgb(182, 189, 192);
  --grey-grey-500: rgb(138, 148, 153);
  --grey-grey-600: rgb(98, 109, 115);
  --grey-grey-700: rgb(61, 71, 77);
  --grey-grey-800: rgb(51, 60, 64);
  --grey-grey-900: rgb(41, 48, 51);
  --navy-navy-000: rgb(226, 242, 255);
  --navy-navy-100: rgb(191, 224, 255);
  --navy-navy-200: rgb(156, 201, 255);
  --navy-navy-300: rgb(124, 176, 255);
  --navy-navy-400: rgb(92, 147, 255);
  --navy-navy-500: rgb(64, 112, 255);
  --navy-navy-600: rgb(40, 88, 214);
  --navy-navy-700: rgb(22, 68, 172);
  --navy-navy-800: rgb(8, 50, 131);
  --navy-navy-900: rgb(0, 34, 89);
  --opacity-b-03: rgba(41, 48, 51, 0.03);
  --opacity-b-05: rgba(41, 48, 51, 0.05);
  --opacity-b-10: rgba(41, 48, 51, 0.1);
  --opacity-b-20: rgba(41, 48, 51, 0.2);
  --opacity-b-30: rgba(41, 48, 51, 0.3);
  --opacity-b-50: rgba(41, 48, 51, 0.5);
  --opacity-w-10: rgba(255, 255, 255, 0.1);
  --opacity-w-20: rgba(255, 255, 255, 0.2);
  --opacity-w-30: rgba(255, 255, 255, 0.3);
  --opacity-w-50: rgba(255, 255, 255, 0.5);
  --opacity-w-75: rgba(255, 255, 255, 0.75);
  --opacity-w-80: rgba(255, 255, 255, 0.8);
  --opacity-w-95: rgba(255, 255, 255, 0.95);
  --orange-orange-000: rgb(255, 240, 225);
  --orange-orange-100: rgb(255, 223, 183);
  --orange-orange-200: rgb(255, 208, 140);
  --orange-orange-300: rgb(255, 197, 99);
  --orange-orange-400: rgb(255, 188, 57);
  --orange-orange-500: rgb(255, 170, 0);
  --orange-orange-600: rgb(214, 133, 0);
  --orange-orange-700: rgb(172, 100, 0);
  --orange-orange-800: rgb(131, 73, 5);
  --orange-orange-900: rgb(89, 49, 9);
  --pink-pink-000: rgb(255, 235, 241);
  --pink-pink-100: rgb(255, 207, 224);
  --pink-pink-200: rgb(255, 180, 206);
  --pink-pink-300: rgb(255, 154, 189);
  --pink-pink-400: rgb(255, 128, 173);
  --pink-pink-500: rgb(247, 87, 140);
  --pink-pink-600: rgb(204, 62, 102);
  --pink-pink-700: rgb(162, 46, 73);
  --pink-pink-800: rgb(119, 34, 51);
  --pink-pink-900: rgb(77, 23, 32);
  --purple-purple-000: rgb(245, 237, 255);
  --purple-purple-100: rgb(231, 216, 254);
  --purple-purple-200: rgb(217, 194, 253);
  --purple-purple-300: rgb(202, 174, 252);
  --purple-purple-400: rgb(187, 155, 250);
  --purple-purple-500: rgb(161, 121, 242);
  --purple-purple-600: rgb(141, 90, 226);
  --purple-purple-700: rgb(120, 64, 197);
  --purple-purple-800: rgb(95, 43, 154);
  --purple-purple-900: rgb(64, 26, 102);
  --red-red-000: rgb(251, 232, 229);
  --red-red-100: rgb(251, 194, 186);
  --red-red-200: rgb(250, 158, 149);
  --red-red-300: rgb(247, 127, 115);
  --red-red-400: rgb(244, 96, 84);
  --red-red-500: rgb(233, 66, 53);
  --red-red-600: rgb(212, 45, 32);
  --red-red-700: rgb(167, 47, 31);
  --red-red-800: rgb(133, 39, 27);
  --red-red-900: rgb(92, 31, 22);
  --yellow-yellow-000: rgb(255, 248, 215);
  --yellow-yellow-100: rgb(255, 242, 179);
  --yellow-yellow-200: rgb(255, 234, 143);
  --yellow-yellow-300: rgb(255, 229, 120);
  --yellow-yellow-400: rgb(255, 224, 98);
  --yellow-yellow-500: rgb(255, 212, 38);
  --yellow-yellow-600: rgb(244, 187, 16);
  --yellow-yellow-700: rgb(223, 163, 4);
  --yellow-yellow-800: rgb(170, 123, 0);
  --yellow-yellow-900: rgb(124, 87, 1);
}
