@import url(font.css);

.font-style-01xs-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular) ;
  line-height: var(--typography-line-height-xs);
  font-size: var(--typography-font-size-xs);
}

.font-style-01xs-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-xs);
  font-size: var(--typography-font-size-xs);
}

.font-style-01xs-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-xs);
  font-size: var(--typography-font-size-xs);
}

.font-style-02s-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-s);
  font-size: var(--typography-font-size-s);
}

.font-style-02s-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-s);
  font-size: var(--typography-font-size-s);
}

.font-style-02s-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-s);
  font-size: var(--typography-font-size-s);
}

.font-style-02s-link {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-underline);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-s);
  font-size: var(--typography-font-size-s);
}

.font-style-03m-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-m);
  font-size: var(--typography-font-size-m);
}

.font-style-03m-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-m);
  font-size: var(--typography-font-size-m);
}

.font-style-03m-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-m);
  font-size: var(--typography-font-size-m);
}

.font-style-03m-link {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-underline);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-m);
  font-size: var(--typography-font-size-m);
}

.font-style-04l-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-l);
  font-size: var(--typography-font-size-l);
}

.font-style-04l-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-l);
  font-size: var(--typography-font-size-l);
}

.font-style-04l-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-l);
  font-size: var(--typography-font-size-l);
}

.font-style-04l-link {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-underline);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-l);
  font-size: var(--typography-font-size-l);
}

.font-style-05xl-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-xl);
  font-size: var(--typography-font-size-xl);
}

.font-style-05xl-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-xl);
  font-size: var(--typography-font-size-xl);
}

.font-style-05xl-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-normal);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-xl);
  font-size: var(--typography-font-size-xl);
}

.font-style-06xxl-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-small);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-xxl);
  font-size: var(--typography-font-size-xxl);
}

.font-style-06xxl-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-small);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-xxl);
  font-size: var(--typography-font-size-xxl);
}

.font-style-06xxl-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-small);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-xxl);
  font-size: var(--typography-font-size-xxl);
}

.font-style-07xxxl-regular {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-smaller);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-xxxl);
  font-size: var(--typography-font-size-xxxl);
}

.font-style-07xxxl-medium {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-smaller);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-xxxl);
  font-size: var(--typography-font-size-xxxl);
}

.font-style-07xxxl-bold {
  font-family: var(--typography-font-family-web);
  letter-spacing: var(--typography-letter-spacing-smaller);
  text-decoration: var(--typography-text-decoration-none);
  text-transform: var(--typography-text-case-none);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-xxxl);
  font-size: var(--typography-font-size-xxxl);
}
  